---
import BaseLayout from '@/layouts/BaseLayout'
import ListTours from '@/components/ListTours'
import TitlePage from '@/components/TitlePage'
import { getCountries, getTourByCountry, getCitiesByCountry } from '@/utils'

export async function getStaticPaths() {
	const countries = await getCountries()

	return countries.map((country) => ({
		params: { country },
		props: { country }
	}))
}

const { country } = Astro.props

const tours = await getTourByCountry(country)
const cities = await getCitiesByCountry(country)
---

<BaseLayout title={country}>
	<TitlePage title={country} />
  {
  cities.map((city)=><div>
<div class="border-b border-gray-200 pb-5">
  <h3 class="text-base font-semibold text-gray-900">{city}</h3>
</div>
	<ListTours tours={tours} />
  </div>)
  }
</BaseLayout>
