---
import ListCategories from '@/components/ListCategories'
import ListTours from '@/components/ListTours'
import Hero from '@/components/Hero'
import Description from '@/components/Description'
import Stats from '@/components/Stats'
import GetInTouch from '@/components/GetInTouch'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getTours } from '@/utils'
import Reviews from '@/components/Reviews'
import Waves from '@/components/Waves'

const MAX_TOURS = 5 // max number of tours to show on the home page
const tours = await getTours(MAX_TOURS)
---

<Hero />

<Description />
<Waves />
<Stats />

<BaseLayout title='Home'>
	<div class='mt-4'>
		<TitlePage title='Tours' />
	</div>
	<ListCategories />
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Tours</h2>
		<ListTours FirstBig={true} tours={tours} />
	</div>
</BaseLayout>
<GetInTouch />

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
