---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getCountries } from '@/utils'
import Globe from '@/components/Globe'
import CountryCard from '@/components/CountryCard'

const countries = await getCountries()
---

<BaseLayout title='Countries we Tour'>
	<TitlePage title='Countries we Tour' />
	<Globe />
	<hr />
	<ul role='list' class='grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4'>
		{
			countries.map((country) => (
				<li class='col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center '>
					<CountryCard data={country.data} slug={country.slug} />
				</li>
			))
		}
	</ul>
</BaseLayout>
