---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getCountries } from '@/utils'
import Globe from '@/components/Globe'
import CountryCard from '@/components/CountryCard'
import { ArrowRight } from 'lucide-astro'

const countries = await getCountries()

const base = import.meta.env.BASE_URL
---

<BaseLayout title='Countries we Tour'>
	<TitlePage title='Countries we Tour' />

	<div class='sm:flex sm:items-center'>
		<div class='sm:flex-auto'>
			<p class='mt-2 text-sm text-gray-700'>
				Want to see the list of all our tours? View them all in our <a
					href=`${base}tours`
					class='text-teal-500 font-bold hover:text-teal-400 transition'>Tours</a
				> page
			</p>
		</div>
		<div class='mt-4 sm:ml-16 sm:mt-0 sm:flex-none'>
			<a
				href=`${base}tours`
				type='button'
				class='rounded-md bg-teal-600 px-3 py-2 group text-center text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600 flex flex-items-center gap-2 pr-3'
				>All Tours <ArrowRight class='w-4 group-hover:translate-x-1 transition-transform' /></a
			>
		</div>
	</div>
	<hr />
	<ul role='list' class='grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4'>
		{
			countries.map((country) => (
				<li class='col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center '>
					<CountryCard data={country.data} slug={country.slug} />
				</li>
			))
		}
	</ul>
</BaseLayout>
